body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  padding-bottom: 70px;
}

/* TOP STRIP */

.top-strip {
  background: #000000;
  color: white;
  font-size: 14px;
  padding: 8px 0;
}

.top-strip a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

/* DESKTOP HEADER */

.main-header {
  background: white;
  padding: 15px 0;
}

.search-box {
  border-radius: 30px;
  padding: 12px;
}

.header-icons span {
  margin-right: 15px;
}

.btn-orange {
  background: #ee671c;
  color: white;
  border-radius: 30px;
  padding: 8px 18px;
}

/* DESKTOP NAV */

.main-nav {
  background: #f0f0f0;
  padding: 10px 0;
  position:relative;
}

/* NAV */

.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.nav-menu li {
  position: static;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
}

/* MEGA MENU */

.mega-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  width: 100vw;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;
  z-index: 1000;
}

/* SHOW ON HOVER */

.has-mega:hover .mega-menu {
  opacity: 1;
  visibility: visible;
}

/* CONTENT AREA */

.mega-inner {
  margin: auto;
  display: flex;
  gap: 40px;
  padding: 40px 15px;

  max-height: calc(80vh - 120px);
  overflow-y: auto;
}

/* COLUMNS */

.mega-column {
  min-width: 220px;
}

.mega-column h6 {
  font-weight: 700;
  margin-bottom: 15px;
}

/* MENU ITEMS */

.mega-column a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  color: #444;
  font-size: 14px;
}

.mega-column img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 6px;
}

/* MOBILE HEADER */

.mobile-header {
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.mobile-header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.menu-btn {
  font-size: 22px;
  background: none;
  border: none;
}

.delivery {
  font-size: 14px;
}

.change {
  color: #555;
  margin-left: 6px;
  font-size: 13px;
}

.wishlist {
  font-size: 20px;
}

/* MOBILE SEARCH */

.offcanvas {
  max-width: 90%;
}
.mobile-search {
  padding: 10px 15px;
}

.search-box-mobile {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 4px 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.search-box-mobile input {
  border: none;
  flex: 1;
  outline: none;
  padding: 5px;
  background: transparent;
}

.logo-icon {
  background: #ee671c;
  color: #fff;
  padding: 6px 8px;
  border-radius: 6px;
  margin-right: 8px;
}

.search-icon {
  font-size: 18px;
  color: #555;
}

/* MOBILE MENU */

.mobile-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav li {
  padding: 14px 0;
  border-bottom: 1px solid #eee;
  font-weight: 500;
}

/* HERO */

.hero-banner {
  padding-bottom: 60px;
  position: relative;
}

.hero-banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* MOBILE HERO BACKGROUND EFFECT */

@media (max-width: 991px) {
  .hero-banner {
    margin-top: -138px;
    z-index: 0;
  }

  .mobile-header {
    position: relative;
    z-index: 5;
    background: transparent;
    box-shadow: none;
  }

  .mobile-search {
    position: relative;
    z-index: 5;
  }
}

/* Offer CARDS */

.offer-section {
  position: relative;
  margin-top: -110px;
  z-index: 5;
}

.offer-scroll {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scrollbar-width: none;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
}

.offer-scroll::-webkit-scrollbar {
  display: none;
}

.offer-item {
  flex: 0 0 auto;
  width: 90px;
  scroll-snap-align: start;
}

.offer-item img {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
}

/* MOBILE BOTTOM NAV */

.mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  z-index: 999;
}

.mobile-bottom-nav a {
  text-align: center;
  font-size: 12px;
  color: #444;
  text-decoration: none;
}

.mobile-bottom-nav a div {
  font-size: 20px;
}

.mobile-bottom-nav .active {
  color: #ff6a00;
}

/* DESKTOP CATEGORY FIX */

@media (min-width: 992px) {
  .category-scroll {
    overflow: visible;
    justify-content: space-between;
  }

  .offer-item {
    width: 145px;
  }
}

/* MOBILE Offer FIX */

@media (max-width: 768px) {
  .offer-section {
    margin-top: -80px;
  }
}

/* Categories */

.categories {
  padding: 40px 0;
}

.category-subtitle {
  color: #555;
  margin-bottom: 20px;
}

/* horizontal scroll container */

.category-scroll {
  display: flex;
  gap: 22px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;
}

.category-scroll::-webkit-scrollbar {
  display: none;
}

/* product item */

.category-item {
  flex: 0 0 auto;
  width: 40%;
  text-decoration: none;
  color: #333;
  text-align: center;
  scroll-snap-align: start;
}

/* card */

.category-card {
  /* box-shadow:0 4px 12px rgba(0,0,0,0.08); */
  border-radius: 50%;
}

.category-card img {
  width: 100%;
}

/* title */

.category-title {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 768) {
  .category-scroll {
    overflow: visible;
    justify-content: space-between;
    scroll-snap-type: x mandatory;
  }

  .category-item {
    width: 160px;
    scroll-snap-align: start;
  }
}

@media (min-width: 992px) {
  .category-scroll {
    overflow: visible;
    justify-content: space-between;
  }

  .category-item {
    width: 190px;
  }
}


.brand-card{
display:block;
text-align:center;
text-decoration:none;
color:#333;
}

.brand-card-text {
  font-size: 18px;
  margin: 20px 0px;
}

